@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: var(--text-color);

    /* Cores do Site */
    --dark-blue: #08129b;
    --green: #16e94b;
    --orange: #e19334;
    --text-color: #505050;

    --bg-dark: #08043e;
}

#logo {
    color: var(--dark-blue);
    font-weight: 800;
    font-size: 5rem;

    span {
        color: var(--green);
        font-size: 5rem;
    }
}
#slogan {
    font-size: 1.8rem;
    color: var(--orange);
    font-weight: 500;
}